/* 
    Created on : Dec 5, 2013, 11:14:30 AM
    Author     : spaipalle
*/

input[required].ng-invalid.ng-dirty {
    border-color: #e74c3c;
}

input[required].ng-valid.ng-dirty {
    border-color: #2ecc71;
}

.response_messages{
    color:blueviolet;
}

form[novalidate] input{
    border-left-width: 8px;
    border-color:#00306B; //#3498db;
    border-style: solid;
}
.form-control:focus{
    border-color:#00306B;
}
input[required].ng-prestine{
    border-color: #e74c3c;
}

.col-xs-12.col-sm-4.col-sm-offset-3 {
    border: 1px solid #CCCCCC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px 20px;
}

.signin_title {
    background: none repeat scroll 0 0 #FF6600;
    border: 1px solid #FF6600;
    color: #FFFFFF;
    font-size: 14px;
    height: 35px;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
    vertical-align: baseline;
}
.btn-primary {
    background-color: #00306B;
}
a{
    color:#00306B;
}