/* 
    Created on : Dec 5, 2013, 11:14:30 AM
    Author     : spaipalle
*/
.container {
    width: 970px;
    padding:0px;
}
.row{
    margin:0;
}
#workOpt.container {
    box-shadow: 0 8px 15px 1px #CACACA;
}
.logo{
    display: inline-block;
    margin: 20px 20px 0;
}
input[required].ng-invalid.ng-dirty {
    border-color: #e74c3c;
}

input[required].ng-valid.ng-dirty {
    border-color: #2ecc71;
}

.response_messages{
    color:blueviolet;
}

form[novalidate] input{
    border: solid 1px #00306B;
    border-left-width: 8px;
}
.form-control {
    width: 96%;
    height: 30px;
}
.form-control:focus{
    border-color:#00306B;
}
input[required].ng-prestine{
    border-color: #e74c3c;
}

.signIn .wrap, .signUp .wrap{
    border: 1px solid #CCCCCC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin:0 10px;
}

/*  login   */
.signin_title,.signup_title  {
    color: #FFFFFF;
    font-size: 14px;
    height: 35px;
    margin: 0;
    padding: 10px;
    text-align: left;
    vertical-align: baseline;
}

.signin_title {
    background: none repeat scroll 0 0 #FF6600;
    border: 1px solid #FF6600;
}

.signup_title {
    background: none repeat scroll 0 0 #00306B;
    border: 1px solid #00306B;
}
.signUp .btn-primary, .register {
    background-color: #00306B;
    border-color:#003068;
    color:#FFF;
}
.btn-primary {
    background-color: #FF6600;
    border-color:#FF6600;
}
.col-sm-offset-3 {
    margin: 35px 10px;
}
a{
    color:#00306B;
}

.orange{
    color:#FF6600;
}
.custom-error {
    color:#FF0000;
}
[type='submit'] {
    background-color:grey !important;
    border-color:grey !important;
}


/* Nav bar Styles */

.navbar-default {
    background-color: #FF6600;
    border-color: #FF6600;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: #00306B;
}
.pull-right{
    margin: 0 30px;
}
.loginMargin{
    padding:0 20px 20px;
}
.container .signIn {
    /*margin-left: 185px;*/
}
.dropdown:hover ul.dropdown-menu{
    display: block;   
    top:94%;
}
.dropdown .btn{
    padding: 14px 12px;
    border-radius: 0;
    color:#FFF;
}
.dropdown:hover{
    background: none repeat scroll 0 0 #FFFFFF;
}
.dropdown:hover .btn{
    background:#FFF;
    height: 50px;
    position: relative;
    z-index: 1001;
    color: #333333;
}

/*Employer Post */

select.form-control {
    border-color: #00306B;
}
select.job-position{
    height: 132px;
}
/*Post Resume*/
form input[type="file"] {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 200px;
}


/*Popup Styles*/

#curtain {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,.67);
    z-index: 1;
}

#ngpopup {
    width: 800px;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    margin: 50px auto 0;
    background-color: #FFF;
    box-shadow: 0 0 0 5px rgba(255,255,255,.1);
}

a.ngpopup {
    color: #0000FF;
    cursor:pointer;
}

/* manage jobs */
table.jobsContainer {
    box-shadow: 0 1px 8px 1px #CCCCCC;
    width: 100%;
}

.jobsContainer thead {
    border-bottom: 2px solid #CCCCCC;
}

.jobsContainer .active > td, .jobsContainer .inActive > td, .jobsContainer thead td{
    border: 1px solid #CCCCCC;
    padding: 2px 10px;
}
.jobsContainer .active > td{
    background: none repeat scroll 0 0 #FFF;
}

.jobsContainer .inActive > td{
    background: none repeat scroll 0 0 #EEE;
}

/* preview job */

.action-btns{
    background: none repeat scroll 0 0 #DCDADA;
    height: 43px;
    padding: 5px 20px;
}
.appTotal{
    background: none repeat scroll 0 0 #ADD8E6;
    border: 1px solid #76A1AF;
    border-radius: 5px;
    color: #0000FF;
    display: inline-block;
    height: 22px;
    padding: 0 5px;
    width: 20px;
}

/* Find Jobs */

.findJobs{
    background:#CCB9FF;
    padding: 0;
    margin:0 0 50px 0;
}
.findJobs h4{
    margin: 5px;
    color:#666;
}
button.findJob{
    background: none repeat scroll 0 0 #FF6600;
    border: 1px solid #FF6600;
    border-radius: 6px;
    box-shadow: 1px 1px #DCDADA inset;
    color: #FFFFFF;
    margin: 5px 0;
    padding: 5px 10px;
}

.recentJobs .tab-content{
    border-bottom: 1px solid #DCDADA;
    border-left: 1px solid #DCDADA;
    border-right: 1px solid #DCDADA;
    padding: 10px;
    height: 400px;
    overflow: scroll;
}

#jobs .row {
    border-bottom: 1px solid #DCDADA;
    padding: 7px 0;
}

.recentJobs .nav .active a{
    color:#FF6600;
    font-weight: bold;
}

#jobs .row h5 {
    color: #0000FF;
    word-wrap: break-word;
}

#jobs .row div{
    word-wrap: break-word;
}

.postJob input{
    
}

.advancedSearch label{
    padding: 0 13px 0 0;
    text-align: right;
    width: 100px;
}