/* 
    Created on : Dec 5, 2013, 11:14:30 AM
    Author     : spaipalle
*/

.form-horizontal input.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}

.form-horizontal input.ng-valid.ng-dirty {
    border-color: #2ecc71;
}

.response_messages{
    color:blueviolet;
}

form[novalidate] input{
    border-left-width: 8px;
    border-color: #3498db;
    border-style: solid;
}

input[required].ng-prestine{
    border-color: #e74c3c;
}