/* 
    Created on : Dec 5, 2013, 11:14:30 AM
    Author     : spaipalle
*/

.form-horizontal input.ng-invalid.ng-dirty {
    border: solid 2px #FA787E;
}

.form-horizontal input.ng-valid.ng-dirty {
    border: solid 2px #78FA89;
}

.response_messages{
    color:blueviolet;
}